<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="cn.yugutou.reckoning.dao.mapper.ReviewMapper">

    <sql id="selectAll">
        review_id
        ,reviewer_id,billing_id,review_time,review_status,rejection_reason,create_time,modify_time
    </sql>

    <!--    新增需求，新增账单时同步插入审核表-->
    <insert id="addReviewInfo" parameterType="reviewInfo">
        insert into review_info
        values (#{reviewId}, #{reviewerId}, #{billingId}, null, #{reviewStatus}, null,
                now(), now())
    </insert>
    <!--  查询待审核列表-->
    <select id="findReviewWaiting" resultMap="reviewMap">
        select
        distinct b.review_id,a.billing_id,a.bill_theme,a.dissipate
        from billing_info a left join review_info b
        on a.billing_id =b.billing_id
        left join usr_bill_association c
        on a.billing_id =c.billing_id
        <where>
            <if test="userId !='' and userId != null">
                c.user_id =#{userId}
            </if>
            and b.review_status='00'
        </where>
    </select>

    <resultMap id="reviewMap" type="reviewWaitingResp">
        <id column="review_id" property="reviewId" javaType="Long"/>
        <result column="billing_id" property="billingId" javaType="Long"/>
        <result column="bill_theme" property="billTheme" javaType="String"/>
        <result column="dissipate" property="dissipate" javaType="Date"/>
    </resultMap>


    <!-- 审核账单       -->
    <update id="updateReviewStatus" parameterType="reviewBillingReq">

        update review_info a
        <set>
            a.review_status = #{reviewStatus} ,a.review_time = now(),
        <if test="rejectionReason != '' and  rejectionReason != null">
        a.rejection_reason = #{rejectionReason}
        </if>
        </set>
        where a.review_id = #{reviewId} and a.reviewer_id = #{reviewerId} ;
    </update>



    <!--   通过账单id 获取信息     -->
    <select id="findReviewInfoById" parameterType="Long" resultMap="reviewMap2">
        select
        <include refid="selectAll"/>
        from review_info where review_id =#{reviewId}
    </select>

    <resultMap id="reviewMap2" type="reviewInfo">
        <id column="review_id" property="reviewId" javaType="Long"/>
        <result column="reviewer_id" property="reviewerId" javaType="Long"/>
        <result column="billing_id" property="billingId" javaType="Long"/>
        <result column="review_time" property="reviewTime" javaType="Date"/>
        <result column="review_status" property="reviewStatus" javaType="String"/>
        <result column="rejection_reason" property="rejectionReason" javaType="String"/>
        <result column="create_time" property="createTime" javaType="Date"/>
        <result column="modify_time" property="modifyTime" javaType="Date"/>
    </resultMap>

</mapper>
