<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="cn.yugutou.reckoning.dao.mapper.UserBillAssociationMapper">

<!--    <insert id="insertPl" parameterType="list">-->
<!--        insert into student (id,name,sex,age) values-->
<!--        <foreach collection="list" item="student" separator=",">-->
<!--            (#{student.id},#{student.name},#{student.sex},#{student.age})-->
<!--        </foreach>-->
<!--    </insert>-->
    <!--新增账单用户关联表  批量插入-->
    <insert id="addUserBillAssociation" parameterType="list">
        insert into usr_bill_association values
        <foreach collection="list" item="userBill" separator=",">
        (#{userBill.associationId},#{userBill.userId},#{userBill.billingId},#{userBill.userParticipationType},#{userBill.apportionedAmount},#{userBill.paymentStatus},now(),now())
        </foreach>
    </insert>



































    
</mapper>
