<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="cn.yugutou.reckoning.dao.mapper.UserMapper">
    <!-- sql:里面可以写入一个共同的sql代码，用于提取重复的代码。
        要使用该代码的时候就直接使用<include>标签
        id:为提取的sql代码，取一个id，起标识作用
         -->
    <resultMap id="BaseRsultMap" type="cn.yugutou.reckoning.dao.entity.UsrInfo">
        <id column="user_id" property="userId" javaType="Long"/>
        <result column="password" property="password" javaType="String"/>
        <result column="user_name" property="userName" javaType="String"/>
        <result column="mobile_no" property="mobileNo" javaType="String"/>
        <result column="user_role" property="userRole" javaType="String"/>
        <result column="user_remarks" property="userRemarks" javaType="String"/>
        <result column="last_login_time" property="lastLoginTime" javaType="Date"/>
        <result column="create_time" property="createTime" javaType="Date"/>
        <result column="modify_time" property="modifyTime" javaType="Date"/>
        <result column="user_status" property="userStatus" javaType="String"/>
        <result column="password_error_num" property="passwordErrorNum" javaType="Integer"/>
    </resultMap>


    <resultMap id="queryResultMap" type="cn.yugutou.reckoning.dto.resp.QueryUserResp">
        <id column="user_id" property="userId" javaType="Long"/>
        <result column="user_name" property="userName" javaType="String"/>
        <result column="mobile_no" property="mobileNo" javaType="String"/>
        <result column="user_remarks" property="userRemarks" javaType="String"/>
    </resultMap>
    <sql id="selectAll">
        user_id,user_name,password,mobile_no,user_role,user_remarks,last_login_time,create_time,modify_time
    </sql>
    <insert id="saveUser" parameterType="cn.yugutou.reckoning.dao.entity.UsrInfo" >
        insert into usr_info values (#{userId},#{password},#{userName},#{mobileNo},#{userRole},#{userRemarks},null,now(),now(),#{userStatus},#{passwordErrorNum})
    </insert>
    <select id="queryUsrInfoByPhone" parameterType="java.lang.String" resultMap="BaseRsultMap">
        select
        <include refid="selectAll"></include>
        from usr_info
        where mobile_no = #{mobileNo}
    </select>
    <update id="updateLoginTime" parameterType="java.lang.Long">
        update usr_info set last_login_time = now() , modify_time = now(),password_error_num = 0 where user_id = #{userId};
    </update>
    <update id="frozenStatusById">
        update usr_info set password_error_num = #{errorNum} , modify_time = now(),user_status = "02" where user_id = #{userId};
    </update>

    <update id="updateErrorNumById">
        update usr_info set password_error_num = #{errorNum} , modify_time = now() where user_id = #{userId};
    </update>
    <!--对用户名和手机号进行模糊查询-->
    <select id="queryUserByNamePhone" parameterType="cn.yugutou.reckoning.dto.req.QueryUserReq" resultMap="queryResultMap">

        select
            user_id,user_name,mobile_no,user_remarks
        from usr_info
        where  user_name like  concat('%', #{keyWord}, '%')   or  mobile_no like    concat('%', #{keyWord}, '%')

    </select>


<!--    修改密码-->
    <update id="updateUserPassword" parameterType="cn.yugutou.reckoning.dto.req.UpdatePassReq">
        update usr_info set password = #{newPass} where  password= #{oldPass}
    </update>
    
    
<!--    查询用户详情-->
    <select id="queryUserDetail" parameterType="long" resultMap="BaseRsultMap">
        select
        <include refid="selectAll"></include>
        from usr_info
        where  user_id =   #{_parameter}

    </select>


<!--    用户更新自己的用户信息-->
    <update id="updateUserinfoSelf" parameterType="cn.yugutou.reckoning.dao.entity.UsrInfo" >
        update usr_info
        <set>

            <if test="userName !=null and userName != ''">
                user_name=#{userName},
            </if>
            <if test="mobileNo !=null and mobileNo != ''">
                mobile_no=#{mobileNo},
            </if>
            <if test="userRemarks !=null and userRemarks != ''">
                user_remarks=#{userRemarks},
            </if>
            modify_time = now(),
        </set>
            where user_id = #{userId}
    </update>
</mapper>
